*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vh-100 {
    height: 100vh;
    width: auto;
}

.light-gray { 
    background-color: #eaeaea;
}

.sfondo {
    background-image: url('https://static.privatesportshop.com/img/p/2553889-7838514-thickbox.jpg');
    background-repeat: no-repeat;
    background-size: 880px 1000px;
}

.p-0 {
    padding: 0%;
}


img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;

}

.float-right {
    float: right;
}

.display-inline-block { 
    display: inline-block;
}
.mt-14 {
    margin-top: 14px;
}

i {
    margin: 5px;
    font-size: 25px;
}

.sfondo-silenzia{
    background-color: #8edafc;
}

.search {
    width: 100%;
    height: 40px;
}

.bg-grey {
    background-color: #eaeaea;
}

.scrivi-messaggio {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding-left: 5px;
}

.centrato{
    display: flex;
    justify-content: flex-start;
}

.bell-vertical{
    display:flex;
    align-items: center;
}

#bell{
    background-color: white;
    color: #8edafc;
    border-radius: 50%;

}

.space{
    display: flex;
    justify-content: space-between;
}

#barra{
    margin-top: 632px;
    background-color: #f3eeea;
    height: 34px;
}

.fa-face-smile, .fa-microphone{
    color: #6b7376;
}

.destro {

    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.sinistro {

    padding: 5px;
    display: flex;
    justify-content: flex-start;

}

.messaggio-inviato {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;
}

.messaggio-ricevuto {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;

}

#container-conversazione{
    padding-top: 15px;
}